/* ------- NAVBAR ------- */
.navbar{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    background-color: var(--black);
    z-index: 1000;
}


/* Logo */
.logo{
    font-size: 1.6rem;
}


/* Links*/
.links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
}


/* ------- LINK ------- */
.link{
    color: var(--grey);
    font-weight: 500;
    font-size: 1rem;
    transition: all .3s ease-in-out;
}

/* hover  */
.link:hover{
    color: var(--white);
}


/* -------- MOBILE DRAWER ------ */
.mobile-drawer{
    display: none;
}




/* Media Queries*/

@media only screen and (max-width:800px){

    .navbar{
        padding: 1rem 1.5rem;
    }

    .logo{
        font-size: 1rem;
    }

    .links{
        display: none;
    }

    .mobile-drawer{
        display: block;
        z-index: 3000;
    }

    .drawer-div{
        width: 30vw;
        background-color: var(--black);
        height: 100vh;
        padding: 1.5rem;
    }
}

/* --------- NavLink --------- */
a.active{
    color: var(--blue);
  }



@media only screen and (max-width:616px){

    .navbar{
        padding: .5rem 1.2rem;
    }

    .logo{
        font-size: 1rem;
    }

    .links{
        display: none;
    }

    .mobile-drawer{
        display: block;
    }

    .drawer-div{
        width: 30vw;
        background-color: var(--black);
        height: 100vh;
        padding: 1.5rem;
    }
}



@media only screen and (max-width:450px){
    .logo{
        font-size: .9rem;
    }
}