
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* Setting variables for colors */
:root {
  --white:#fff;
  --black:#111;
  --blue:#3a80e9;
  --grey:#888;
  --darkgrey:#1b1b1b;
  --green:#61c96f;
  --red:#f94141;
  
}
body{
  margin: 0;
  font-family: Inter, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  color: var(--white);

}

/* for custom selection */
::selection{
  background: var(--blue);
  color: var(--white);
}


::-webkit-scrollbar {
  width: .3rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--black);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 3rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5d3cbd;
}

/* for navlink */
a.active{
  color: var(--blue);
}
 
